body {
    background-color:antiquewhite;
}
#app {
font-family: Avenir, Helvetica, Arial, sans-serif;
text-align: center;
color: #2c3e50;
margin-top: 80px;
padding: 2rem;
background-color: lightBlue;
}

input {
height: 2rem;
}

a {
color: blue;
}
a:link {
    color:blue;
    text-decoration: underline;
}
a:visited {
    color:red;
}
a:hover {
    transform: scaleX(125%);
}
a:active {
    color:red;
}

button {
background: green;
color: white;
border: solid 1px;
border-radius: 2em;
font: inherit;
padding: 0.75em 2em;
margin: 10px;
}
button:hover {
color: red;
}
ul{
    list-style: none;
}
ul li {
    border-style: dotted;
    padding-top: 1rem;
    padding-bottom: 1rem;
}